.main {
    width: 100%;
    padding: 12px;
    margin: 56px auto;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(241 243 244 0.5);
    border: 1px solid #e8eaed;
    background-color: #fff;

}

@media (min-width: 769px) {
    .main {
        width: 80%;
        padding: 24px;
        margin: 72px auto;
    }
}